<div class="container-fluid">
    <div class="row">
        <div class="col col-12 col-sm-12 col-lg-12 col-xl-12 col-xxl-12">
            <app-navbar></app-navbar>
           <div *ngIf="status then showData else loading"></div>
           <ng-template #showData>
            <table border="5" class="table table-striped-columns table-bordered border-primary">
              <thead>
                <tr class="table-dark"  >
                   
                  <th scope="col">Id</th>
                  <th scope="col">Name</th>
                  <th scope="col">Friend Name </th>
                  <th scope="col">Friend Nick Name</th>
                  <th scope="col">Describe Your Friend</th>
                  <th scope="col">V</th>
                  
        
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let i of Data" class="table-info">
               
               
                  <td>{{i._id}}</td>
                  <td>{{i.name}}</td>
                  <td>{{i.friendName}}</td>
                  <td>{{i.friendNickName}}</td>
                  <td>{{i.DescribeYourFriend}}</td>
                  <td>{{i.__v}}</td>

                 
                  
                  
                  
                
                </tr>
              
              </tbody>
            </table>
           </ng-template>
           <ng-template #loading>
            <div class="spinner-border spinner-border-sm" role="status">
              <span class="visually-hidden">Loading...</span>
            </div>
            <div class="spinner-grow spinner-grow-sm" role="status">
              <span class="visually-hidden">Loading...</span>
            </div>

           </ng-template>
        </div>
    </div>
</div>